.breadcrum {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #5e5e5e;
  font-size: 16px;
  font-weight: 600;
  margin: 15px 170px;
  text-transform: capitalize;
}
@media(max-width:1132px){
  .breadcrum{
    margin: auto;
    width: 1100px;
    margin-left: 170px;
    margin-bottom: 40px;
  }
}
@media(max-width:800px){
  .breadcrum{
    margin: 20px;
    width: 600px;
    margin-left: 170px;
    margin-bottom: 40px;
  }
}
@media(max-width:400px){
  .breadcrum{
    margin: 0;
    width: 600px;
    margin-left: 170px;
    margin-bottom: 40px;
  }
}