.product {
  width: 80%;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  flex-direction: column;
}
@media (max-width: 400px) {
  .product {
    width: 50%;
  }
  .desc {
    margin-top: 4000px;
  }
}
