.product{
    width: 80%;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
}
@media(max-width:700px){
    .product{
        width: 50%;
    }
}